<%- include ('Partials/header.ejs') -%>

<div class="body">

     <form action="/" method="post">
        <h1>compose below</h1>
        <input type="text" name="postTitle">
        <h2>post</h2>
        <textarea name="blog" id="" cols="160" rows="5"></textarea>
        <button type="submit">submit</button>
     </form>   
    </div>


<%- include ('Partials/footer.ejs') -%>